.mat-button {
  width: 180px;
  font-size: 18px;
  border-color: dimgray;
  color: white;
  background-color: rgba(128, 128, 128, 0.4);
}

::placeholder {
  color: white;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-form-field-underline {
  background-color: white !important;
}

.mat-table {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.15);
}

.mat-paginator {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.4);
  color: white;
}

/deep/ .mat-paginator-icon {
  fill: white !important;
}

/deep/ .mat-select-value-text {
  color: white !important;
}

/deep/ .mat-select-arrow {
  color: white !important;
}

.mat-menu-item {
  width: 180px;
  font-size: 18px;
}

.mat-cell {
  color: white;
}


.error {
  position: absolute;
  left: 50px;
  color: red;
}

.groups-list {
  position: absolute;
  top: 80px;
  left: 50px;
}

.join-create-part {
  position: fixed;
  width: 320px;
  height: 180px;
  top: calc(50% - 50px);
  left: calc(50% - 160px);
  background-color: rgba(128, 128, 128, 0.4);
  color: white;
}

.shift {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 280px;
}

.join-create-mat-form-field {
  width: 280px;
}

.join-create-button {
  position: absolute;
  top: 60px;
  left: calc(50% - 90px);
}

.join-create-error {
  position: absolute;
  top: 120px;
  left: 20px;
  color: red;
}

.join-create-output {
  position: absolute;
  top: 120px;
  left: 20px;
  color: white;
}

.group-connect-button {
  position: fixed;
  top: 80px;
  left: 250px;
}

.group-joining-part {
  position: fixed;
  top: 80px;
  left: calc(100% - 330px);
}

.group-joining-output-field {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.4);
  width: 280px;
  height: 40px;
}

.group-joining-output {
  position: absolute;
  font-size: 18px;
  color: white;
  top: 8px;
  left: 15px;
}

.group-joining-button {
  position: absolute;
  width: 280px;
  height: 40px;
}

.group-conference-button {
  position: fixed;
  top: 130px;
  left: calc(100% - 330px);
  width: 280px;
  height: 40px;
}

.conferences-part {
  position: absolute;
  top: 240px;
  left: 50px;
  width: calc(100% - 100px);
}

.date-column {
  width: 160px;
  color: white;
}

.topic-column {
  width: 400px;
  color: white;
}

.desc-column {
  width: calc(90% - 660px);
  color: white;
}

.button-column {
  width: 40px;
  font-size: 10px;
  background-color: none;
  left: calc(100% - 50px);
}
