.mat-button {
  width: 200px;
  font-size: 18px;
  border-color: dimgray;
  color: white;
  background-color: rgba(128, 128, 128, 0.4);
}

.call-options-panel {
  position: absolute;
  left: calc(50% - 100px);
}

.mute-button {
  position: fixed;
  top: calc(100% - 190px);
}

.dc-button {
  position: fixed;
  top: calc(100% - 140px);
}

.download-button {
  position: fixed;
  top: calc(100% - 90px);
}

.conference-functions-panel {
  position: absolute;
  left: calc(50% + 130px);
}

.vote-button {
  position: fixed;
  top: calc(100% - 190px);
}

.next-part-button {
  position: fixed;
  top: calc(100% - 140px);
}

.finish-button {
  position: fixed;
  top: calc(100% - 90px);
}

.mute-icon {
  position: fixed;
  width: 100px;
  top: calc(100% - 320px);
  left: calc(50% - 50px);
}

.online-panel {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.4);
  top: calc(15% - 30px);
  left: calc(100% - 250px);
  height: calc(85% + 30px);
  width: 250px;
}

.online-title {
  position: fixed;
  left: calc(100% - 165px);
  font-size: 18px;
  color: white;
}

.online-users {
  position: fixed;
  top: calc(15% + 5px);
  left: calc(100% - 240px);
}

.online-user {
  color: white;
}

.prev-button {
  position: absolute;
  top: calc(50% - 20px);
  left: 50px;
}

.next-button {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(100% - 200px - 50px);
}

.refresh-button {
  position: absolute;
  top: calc(50% - 70px);
  left: calc(100% - 200px - 50px);
}

.estimation-form-part {
  position: absolute;
  width: 700px;
  height: 680px;
  left: calc(50% - 350px);
  top: 80px;
  background-color: rgba(128, 128, 128, 0.4);
}

.shift {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 660px;
}
