<div [ngClass]="'nav-bar'">
  <div *ngIf="service.isLoggedIn(); else loggedOut">
    <button mat-button class="log-in-out" (click)="logout()">Wylogowanie</button>
    <button mat-button class="groups" routerLink="/groups">Grupy</button>
    <button mat-button class="home" routerLink="/">Home</button>
  </div>

  <ng-template #loggedOut>
    <button mat-button class="home" routerLink="/">Home</button>
    <button mat-button class="log-in-out" routerLink="/login">Logowanie</button>
    <button mat-button class="register" routerLink="/register">Rejestracja</button>
  </ng-template>
</div>
