.error {
  position: relative;
  color: red;
}

.mat-form-field {
  width: 310px;
  color: white;
}

.mat-button {
  width: 200px;
  font-size: 18px;
  border-color: dimgray;
  color: white;
  background-color: rgba(128, 128, 128, 0.4);
  left: calc(100% - 200px);
}

::placeholder {
  color: white;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-form-field-underline {
  background-color: white !important;
}


.login-box {
  position: fixed;
  top: calc(85% - 250px);
  left: calc(95% - 350px);
  width: 350px;
  height: 270px;
  background-color: rgba(128, 128, 128, 0.4);
}

.shift {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 310px;
}
