
<div class="menu">
  <div class="shift">
    <div class="header">
      <span>Szacowanie pracochłonności wykonania oprogramowania z wykorzystaniem:</span>
    </div>

    <div>
      <button mat-button class="delfic" (click)="negotiations()">Negocjacji</button>
    </div>
    <div>
      <button mat-button class="cocomo" routerLink="/cocomo">Rozmiaru oprogramowania</button>
    </div>
    <div>
      <button mat-button class="usecasepoints" routerLink="/usecasepoints">Specyfikacji wymagań</button>
    </div>
  </div>
</div>
