<div class="register-box">
  <div class="shift">
    <mat-form-field>
      <input matInput [(ngModel)]="email" placeholder="Email" />
    </mat-form-field>
    <p></p>

    <mat-form-field>
      <input matInput [(ngModel)]="password" name="password" placeholder="Hasło" [type]="hidePassword ? 'password' : 'text'" />
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <p></p>

    <mat-form-field>
      <input matInput [(ngModel)]="confPassword" name="confPassword" placeholder="Potwierdź hasło" [type]="hideConfPassword ? 'password' : 'text'" />
      <button mat-icon-button matSuffix (click)="hideConfPassword = !hideConfPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div *ngIf="!MatchPassword()" [ngClass]="'error'">Password do not match!</div>
    <p></p>

    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="Imie" />
    </mat-form-field>
    <p></p>

    <mat-form-field>
      <input matInput [(ngModel)]="surname" placeholder="Nazwisko" />
    </mat-form-field>
    <p></p>

    <button mat-button (click)="Register()">Rejestruj</button>
    <p></p>
    <div *ngIf="msg != ''" [ngClass]="'error'">{{msg}}</div>
  </div>
</div>
